.container {
    width: 100%;
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}
.body{
    font-family: Donegal+One, serif;
    margin: 0;
    background-color: #f7f7f7;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}