.about_me{
    background-image: url(../img/about_me/5f772bf04d7077002204b9f5_optimized_1920.webp);
    width: 100%;
    text-align: right;
    text-align: justify;
    min-width: 992px;
    height: 774px;
    font-family: "Donegal One", serif;
    
    
}
.revue{
    padding: -380px 70px 90px 70px;
    margin: -80px 250px 320px 520px;  
}
.about_me_title{
    font-size: 51px;
}
.about_me_subtitle{
    font-size: 20px;
}
.about_me__text{
font-size: 17px;
}