.about_me{
    background-image: url(../img/about_me/5f772bf04d7077002204b9f5_optimized_1920.webp);
    background-size: cover;
    background-position: center;
    min-height: 1080px;
    min-width: 1200px;
    text-align: right;
    text-align: justify;
    font-family: "Donegal One", serif;
}
.revue{
    padding: 200px 70px 100px 70px;
    margin: 0 100px 300px 700px;  
}
.about_me_title{
    font-size: 51px;
}
.about_me_subtitle{
    font-size: 20px;
}
.about_me__text{
font-size: 17px;
}